body {
    background: url('./images/image.jpg') no-repeat center center/cover;
    font-family: 'Poppins', sans-serif;
    
}

input{
    margin-top: 12px;
    font-size: 20px;
    border-radius: 6px;
}

label{
    margin-top: 12px;
}
button{
    margin-top: 12px;
    border-radius: 4px;
    background-color: #37AF65;
    color: white;
    font-size: 20px;
    height: 38px;
}
select{
    margin-top: 12px;
    font-size: 20px;
    border-radius: 6px;

}

textarea{
    font-size: 20px;
    border-radius: 6px;
    height: 138px;

}

.container{
    max-width: 50%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
    color: #FFF;
}

form{
    background: #292947;
}

.align-form{
    display: flex;
    flex-direction: column;
}

.margins{
    margin: 22px;
    padding-bottom: 21px;
    padding-top: 21px;
}

.align-title{
    text-align: center;
    
}
.align-title h1{
    font-size: 2.2em;
    
}